;
; IRC Configuration
;
; This file is used by res_irc
;
;[general] ; IRC server details. Currently, only one server is supported.
;
; WARNING: This module currently does not support SSL/TLS. Any data sent or received
; to/from IRC using this module is NOT ENCRYPTED. Use at your own risk!
;
;hostname = irc.libera.chat ; Hostname of IRC server
;port = 6667 ; IRC port - default is 6667 (depends on whether it's plain text or SSL/TLS, check with your IRC server)
;username = jsmith ; IRC nickname/username
;password = password123 ; IRC password
;autojoin = #asterisk ; Comma-separated list of channels to join on startup. Default is none.
;sasl = yes ; Whether or not to use SASL authentication. Currently, only plain-text SASL auth is supported. Default is no.
;events = yes ; Whether or not to emit AMI events on incoming messages from IRC channels. Default is no.
