; res_telos_1a2.conf
; Configuration file for Asterisk resource module for Telos 1A2 Module Interface

;[general]
;device = /dev/ttyS0 ; Serial device to use (at 1200 baud). There is no default (however, on most systems, the default serial port is /dev/ttyS0)

;[line1]
;line = 1 ; 1A2 line number
;fxodevice = DAHDI/1 ; FXO device that can be used to access this line. The line does not need to be served by Asterisk. Music on hold volume is rather low by default with this option.
;moh_class = default ; Music on hold class, to play music on hold when this 1A2 line is on hold (via the FXO device). There is no default.
;hold_context = 1a2hold ; Dialplan context to execute for 1A2 lines on hold. Extension s will be executed at priority 1. If moh_class is also specified, hold_context takes precedence.
                        ; hold_context can only be used with 'fxodevice', not 'fxsdevice'.

;[line2]
;line = 2
;fxsdevice = DAHDI/22 ; FXS device that services this line. Music on hold volume and quality is better using fxsdevice as compared to fxodevice; however, the line must be on this system.
;moh_class = default
